version: '3'
services:
  kindle:
    build:
      context: .
      dockerfile: Dockerfile.kindle
    depends_on:
     - chrome
    environment:
     - API_ENTRYPOINT=https://example.io/api/v1/highlights/bulk/?token=secret
     - CHROME_DEBUG=0
  chrome:
    image: "justinribeiro/chrome-headless"
    ports:
      - "9222:9222"
    cap_add:
      - SYS_ADMIN
  gbooks:
    build:
      context: .
      dockerfile: Dockerfile.gbooks
    volumes:
      - /tmp/.credentials/:/tmp/.credentials/
    environment:
     - API_ENTRYPOINT=https://example.io/api/v1/highlights/bulk/?token=secret
  storage:
    build:
      context: .
      dockerfile: Dockerfile.storage
    ports:
      - "8000:8000"
    depends_on:
      - mongo
  mongo:
    image: "mongo"
    volumes:
      - /tmp/mongo_data:/tmp/data
